:root {
    --textFontFamily: 'Montserrat', sans-serif;
    --headerFontFamily: 'Wendy One', sans-serif;

    --transform1-size: 25%;
}

* {
    font-family: var(--headerFontFamily);
}
.regular-text {
    font-family: var(--textFontFamily);
}

#zoom-out {
    display: none;
}
.zoomed-in-1 #zoom-out {
    display: block;
}
.zoomed-in-center-1 #zoom-out {
    display: block;
}